
.page-content {
    padding-top: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 480px) {
    .page-content {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.demo-card-wide.mdl-card {
    width: 100%;
  }

.report-container {
    height: 500px;
    margin: 1em;
}