<body>
  <header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>ngx-ssrs-reportviewer</strong>
      </a>
    </div>
  </div>
</header>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <div class="album py-5 bg-light">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="card mb-12 shadow-sm">
                  <div class="card-body">
                      <ssrs-reportviewer [reportserver]="reportServer" [reporturl]="reportUrl" [showparameters]="showParameters" [parameters]="parameters" [language]="language" [width]="width" [height]="height" [toolbar]="toolbar" ></ssrs-reportviewer>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
</main>


